<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>BASE TECHNOLOGIES</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="http://dcastalia.com/projects/web/base/" />

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!--Google Font-->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

        <!--CSS-->
        <link rel="stylesheet" href="resources/css/bootstrap.min.css">
        <link rel="stylesheet" href="resources/css/normalize.css">
        <link rel="stylesheet" href="resources/css/sprite.css">
        <link rel="stylesheet" href="resources/css/font-awesome.min.css">
        <link rel="stylesheet" href="resources/css/jquery.fullPage.css">
        <link rel="stylesheet" href="resources/css/slick.css">
        <link rel="stylesheet" href="resources/css/animate.min.css">
	    <link rel="stylesheet" href="resources/css/perfect-scrollbar.min.css">
        <link rel="stylesheet" href="resources/dist/css/lightgallery.min.css">

        <link rel="stylesheet" href="resources/css/style.css">
        <!--Modernizr JS-->
        <script src="resources/js/modernizr-2.8.3.min.js"></script>
    </head>

    <body data-ng-app="basetech" data-ng-controller="appController">
        <div class="nav-icon nav-icon-main pull-right">
            <i class="fafa-bars nav-icon toggol-menu fa-2x"></i>
        </div>
	   
        <!--LOADER-->
	    <div class="loader">
            <div class="inner">
                 <div class='uil-rolling-css'><div><div></div><div></div></div></div>
            </div>
        </div>	
        
        <!--MAIN MENU-->
        <div id="main-menu" class="main-menu-wpr">
            <div class="main-menu-content" ng-controller="menuController">
    <div class="menu-cross toggol-menu">
        <a href="#"><i class="spritesprite-close-red"></i></a>
    </div><!--.menu-cross-->

    <div class="menu-column first-column">
        <ul class="nav-pills">
            <li data-ng-repeat="item in pages" data-ng-class="{'active':($index==0)}" data-ng-hide="item.page_data.page_slug=='career' || item.page_data.page_slug=='contact-us'">
                <a data-toggle="pill" href="#menu-{{item.page_data.page_slug}}">{{item.page_data.page_title}}</a>
            </li>
            <li class="sub-btn"><a data-toggle="pill" href="#menu-career">Career</a></li>
            <li class="sub-btn"><a data-toggle="pill" href="#menu-contact-us">Contact us</a></li>
        </ul>
        
        <div class="sub-menu-btn">
            <ul>
                <li><a target="_blank" href="portal">Employee Portal</a></li>
            </ul>
        </div><!-- .sub-menu-btn -->
    </div>
    
    <div class="menu-item-view-area tab-content" data-ng-scroll="">
        <div id="menu-{{item.page_data.page_slug}}" class="menu-item-view-area-wrp tab-pane fade in active" data-ng-repeat="item in pages">
            <div class="menu-column menu-list" data-ng-repeat="(key, subpage) in item.child_pages|orderBy:subpage.sort_order" data-order="{{subpage.sort_order}}" data-ng-hide="key=='menu'">
                <h4><a href="{{item.page_data.page_slug}}/{{subpage.page_data.page_slug}}">{{subpage.page_data.page_title}}</a></h4>
                <div class="border-bottom">&nbsp;</div>
                <ul>
                    <li data-ng-repeat="link in subpage.child_pages">
                        <a data-ng-show="$index<=11 && item.page_data.page_slug=='alliances'" href="{{link.page_data.ext_url}}" target="_blank">{{link.page_data.page_title}}</a>
                        <a data-ng-show="$index<=11 && item.page_data.page_slug!='alliances'" href="{{item.page_data.page_slug}}/{{subpage.page_data.page_slug}}/{{link.page_data.page_slug}}">{{link.page_data.page_title}}</a>
                        <a class="view-all" data-ng-show="$index==12" href="{{item.page_data.page_slug}}/{{subpage.page_data.page_slug}}">View All</a>
                    </li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->
    </div><!--.menu-item-view-area-->
</div><!--.main-menu-content-->

<div class="menu-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="copy-right-text col-xs-4">
                <div class="">
                    &copy; 2015. All right reserved. BASE Technologies Ltd.<br/> Design &amp; developed by <a href="http://www.dcastalia.com/" target="_blank">dcastalia</a>
                </div>
            </div><!--.copy-right-text-->

            <div class="col-xs-4">
                <div class="row">
                    <ul class="mobile-social">
                        <li>
                            <a href="https://www.facebook.com/BaseTechnologiesLtd" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/BASETechnologie" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/1/114831733593406221742" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <!-- <a href="#"><i class="fa-youtubeplay"></i></a> -->
                            <a href="https://www.youtube.com/channel/UCT8RwBQGCTOpqLXknca6D3g" target="_blank"><i class="fa fa-youtube-play"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="row">
                    <div class="mobile-search pull-right">
                        <!--<form method="GET" action="search/term/">-->
                            <i class="fa fa-search"></i>
                            <input class="searchbox" data-ng-model="searchText" type="text" placeholder="SEARCH" value="" name="s"/>
                        <!--</form>-->
                    </div><!--.mobile-search-->
                </div>
            </div>
        </div>
    </div>
</div>    

<!--Bottom Menu For Mobile-->
<div class="container-fluid bottom-menu-mobile">
   
            <div class="col-xs-12">
                <div class="row">
                    <div class="mobile-search">
                        <!--<form method="post" action="#">-->
                            
                            <i class="fa fa-search"></i>
                            <input class="searchbox" data-ng-model="searchText" type="text" placeholder="SEARCH" value="" name="s"/>
                        <!--</form>-->
                    </div><!--.mobile-search-->
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <ul class="mobile-social">
                        <li>
                            <a href="https://www.facebook.com/BaseTechnologiesLtd"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/BASETechnologie"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/u/1/114831733593406221742"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <!-- <a href="#"><i class="fa-youtubeplay"></i></a> -->
                            <a href="https://www.youtube.com/channel/UCT8RwBQGCTOpqLXknca6D3g"><i class="fa fa-youtube-play"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="copy-right-text col-xs-12">
                <div class="">
                    &copy; 2015. All right reserved. BASE Technologies Ltd.<br/> Design &amp; developed by <a href="http://www.dcastalia.com/" target="_blank">dcastalia</a>
                </div>
            </div><!--.copy-right-text-->

</div><!-- .bottom-menu-mobile -->
        </div><!--#main-menu-->
        
        <!--TOP BAR-->
        <div class="topbar">
            <div class="logo pull-left">
    <a ng-click="homepage()">
        <img src="resources/img/logo.png" alt="#" class="img-responsive" height="auto" width="auto"/>
    </a>
</div>

        </div><!--.topbar-->

        <div id="fullpage">
            <!--SLIDER-->
            <section id="home-page" data-anchor="home" class="section">
                <div class="container-fluid">
                    <div class="row">
    <slick class="home-slick" dots="true" infinite="true" speed="500" autoplay="true" autoplaySpeed="500" arrows="false" pauseOnHover="true" delay="300">
    
        <div class="home-slider">
            <img src="resources/img/banner/01.jpg"/>
            <div class="wow animated infinite fadeIn slick-text container">
                <span class="slide">Winning with Clients</span>
            </div>
        </div>
        <div class="home-slider">
            <img src="resources/img/banner/02.jpg"/>
            <div class="wow animated infinite fadeIn slick-text container">
                <span class="slide">One Team, Due Respect</span>
            </div>
        </div>
        <div class="home-slider">
            <img src="resources/img/banner/03.jpg"/>
            <div class="wow animated infinite fadeIn slick-text container">
                <span class="slide">Committed to Deliver</span>
            </div>
        </div>
        <div class="home-slider">
            <img src="resources/img/banner/04.jpg"/>
            <div class="wow animated infinite fadeIn slick-text container">
                <span class="slide">Unparalleled Integrity</span>
            </div>
        </div>
    </slick>
</div>
                </div><!--.home-page-wrapper-->
            </section><!--#home-page-->


            <!--SOLUTIONS-->
            <section id="category-home-page" data-anchor="solution" class="section">
                <div class="category-home-page-wrapper container-fluid">
                    <div class="row">
    <div class="upper-btn">
        SOLUTIONS
    </div>
    <a href="solutions/power-and-infrastructure">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451294966Power-&-Infrastructure.jpg)">
            <div class="page-title-text">
                <h2>power &amp; infrastructure</h2>
                <span>solution</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="solutions/it-and-telecom">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451294404It-&-Telecom.jpg)">
            <div class="page-title-text">
                <h2>IT &amp; TELECOM</h2>
                <span>solution</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    </div>
                </div><!--.second-home-page-wrapper-->
            </section><!--#category-home-page-->


            <!--SERVICE FOCUS-->
            <section id="service-focuse" data-anchor="service" class="section">
                <div class="service-focuse-home-page-wrapper container-fluid">
                    <div class="row">
    <div class="upper-btn">
        Our Focus
    </div>
    <a href="industries/all">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/14515551991451477988Industries.jpg)">
            <div class="page-title-text">
                <h2>INDUSTRY</h2>
                <span>FOCUS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="capabilities/our_capabilities">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451293508Capabilities.jpg)">
            <div class="page-title-text">
                <h2>CAPABILITIES</h2>
                <span>FOCUS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>
                </div><!--.service-focuse-home-page-wrapper-->
            </section><!--#service-focuse-->


            <!--ALLIANCES-->
            <section id="alliances" data-anchor="alliance" class="section">
                <div class="alliances-home-page-wrapper container-fluid">
                    <div class="row">
    <div class="upper-btn">
        alliances
    </div>
    <a href="alliances/clients">
        <!-- <div class="col-xs-6 area" style="background-image: url(resources/img/allience-clients.jpg)"> -->
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451476973clients.jpg)">
            <div class="page-title-text">
                <h2>TO ALL RESPECTED</h2>
                <span>CLIENTS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="alliances/partners">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1452086138partners-2.jpg)">
            <div class="page-title-text">
                <h2>A FRIEND IN NEED</h2>
                <span>PARTNERS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>
                </div><!--.alliances-home-page-wrapper-->
            </section><!--#alliances-->


            <!--SECTOR-->
            <section id="sector" data-anchor="sectors" class="section">
                <div class="sector-home-page-wrapper container-fluid">
                    <div class="row">
    <div class="upper-btn">
        MEDIA
    </div>
    <a href="media/events-gallery">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451302321Events-Gallery.jpg)">
            <div class="page-title-text">
                <h2>Events Gallery</h2>
                <span>media</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="media/news-room">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451302350Newsroom.jpg)">
            <div class="page-title-text">
                <h2>News Room</h2>
                <span>media</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>
                </div><!--.alliances-home-page-wrapper-->
            </section><!--#alliances-->


            <!--ABOUT US-->
            <section id="about-us" data-anchor="about" class="section">
                <div class="about-us-home-page-wrapper container-fluid">
                    <div class="row">
    <div class="upper-btn">
        ABOUT US
    </div>
    <a href="about/about-base-technologies">
        <div class="col-xs-12 area" style="background-image: url(resources/img/about-us.jpg)">
            <div class="page-title-text-contact bt-text-lowercase">
                <h2>proactive team for delevering masterpiece</h2>
                <div class="page-title-border-btm">&nbsp;</div>
                <span>stay with us</span>
            </div><!--.page-title-text-contact-->
        </div>
        <a href="#"><div class="about-us-btn">
                About Us
            </div></a>
    </a>

</div>
                </div><!--.alliances-home-page-wrapper-->
            </section><!--#alliances-->
            
            <!--TESTIMONIAL-->
            <section id="testimonial" data-anchor="customers" class="section">
                <div  class="testimonial-page-wrapper container-fluid">
                    <div class="row height-full">
    <div class="upper-btn">
        TESTIMONIAL
    </div>
    <div class="col-xs-12 area" style="background-image: url(resources/img/TESTIMONIAL.jpg)">

        <!--------------------------------
        --------BootStrap Carousel--------
        --------------------------------->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">

                    <div class="carousel-circle">
                        <img src="http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451294471Cloud-Solutions-&-Services.jpg" alt="#" class="img-responsive"> 
                    </div><!-- .carousel-circle -->

                    <div class="carousel-caption">
                        <i class="fa fa-quote-left"></i>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <i class="fa fa-quote-right"></i>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-circle">
                        <img src="http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451294471Cloud-Solutions-&-Services.jpg" alt="#" class="img-responsive"> 
                    </div><!-- .carousel-circle -->
                    <div class="carousel-caption">

                        <i class="fa fa-quote-left"></i>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <i class="fa fa-quote-right"></i>

                    </div>
                </div>

                <div class="item">
                    <div class="carousel-circle">
                        <img src="http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451294471Cloud-Solutions-&-Services.jpg" alt="#" class="img-responsive"> 
                    </div><!-- .carousel-circle -->
                    <div class="carousel-caption">

                        <i class="fa fa-quote-left"></i>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <i class="fa fa-quote-right"></i>

                    </div>
                </div>

                <div class="item">
                    <div class="carousel-circle">
                        <img src="http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451294471Cloud-Solutions-&-Services.jpg" alt="#" class="img-responsive"> 
                    </div><!-- .carousel-circle -->
                    <div class="carousel-caption">

                        <i class="fa fa-quote-left"></i>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <i class="fa fa-quote-right"></i>

                    </div>
                </div>

            </div><!-- .carousel-inner -->

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>


        </div><!-- #myCarousel -->
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: 10000,
            cycle: true
        });
    });
</script>
                </div><!--.testimonial-wrapper-->
            </section><!--#testimonial-->


            <!--CONTACT US-->
            <section id="contact-us" data-anchor="contact" class="section">
                <div class="contact-us-home-page-wrapper container-fluid">
                    <div class="row">
    <div class="upper-btn">
        CONTACT US
    </div>

    <div class="col-xs-12 area" style="background-image: url(resources/img/location.jpg)">
        <div class="row">
            <div class="container-fluid contact-us-nav">
                <div class="row">
                    <ul class="nav nav-tabs contact-left-ul">
                        <li class="active"><a data-toggle="tab" href="#bdmap">BANGLADESH</a></li>
                        <li><a data-toggle="tab" href="#world-map">WORLDWIDE MAP</a></li>
                        <li><a data-toggle="tab" href="#enquiry">ENQUIRY</a></li>
                    </ul>
                </div>
                <!-- <div class="container">
                    
                </div> -->
            </div><!-- .contact-us-nav -->

            <div class="contact-view">
                <div class="container-fluid cont-view-wpr">
                    <div class="row">
                        <div class="col-xs-12 h-100">
                            <div class="row">
                                <div class="tab-content">
                                    <div id="bdmap" class="tab-pane fade in active h-100">
                                        <div id="map"></div>
                                    </div>
                                    <div id="world-map" class="tab-pane fade h-100">
                                        <div id="map-world"></div>
                                    </div>

                                    <div id="enquiry" class="tab-pane fade">
                                        <div class="info-box container">
                                        <div class="row">
                                            <h3>Contact us</h3>
                                            <form id="sform" method="post" action="#">
                                                <p>
                                                    <label for="name">Name</label>
                                                    <input id="name" type="text" name="name"/>
                                                </p>

                                                <p>
                                                    <label for="email">Email</label>
                                                    <input id="email" type="text" name="email"/>
                                                </p>
                                                <p>
                                                    <label for="message">Message</label>
                                                    <textarea id="message" name="message"></textarea>
                                                </p>
                                                <input type="submit" value="SUBMIT"/>
                                            </form>
                                        </div>
                                        </div><!--.info-box-single-->
                                    </div>

                                    <div class="copy-right-box container">
                                    <div class="row">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com/BaseTechnologiesLtd/" target="_blank"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/BASETechnologie" target="_blank"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://plus.google.com/u/1/114831733593406221742" target="_blank"><i class="fa fa-google-plus"></i>
</a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UCT8RwBQGCTOpqLXknca6D3g" target="_blank"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>

                                        <span class="cmpy-right">
                                            &copy; 2015. All rights reserved. BASE Technologies Ltd. Design &amp; developed by <a href="http://www.dcastalia.com/" target="_blank">dcastalia</a>
                                        </span>
                                    </div>
                                    </div><!--.copy-right-box-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--.contact-view-->
        </div>
    </div>
</div>

<!-- MAP -->
 <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initialize">
</script>
<script>
function initialize() {
    var map, map2;
    var styleArray = [
        {
          featureType: "all",
          stylers: [
           { saturation: -80 }
          ]
        },{
          featureType: "road.arterial",
          elementType: "geometry",
          stylers: [
            { hue: "#00ffee" },
            { saturation: 40 }
          ]
        },{
          featureType: "poi.business",
          elementType: "labels",
          stylers: [
            { visibility: "off" }
          ]
        }
      ];
    var mapOptions = {
        styles: styleArray,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    map2 = new google.maps.Map(document.getElementById("map-world"), mapOptions);
        
    // Multiple Markers
    var markers = [
        ['Gulshan Avenue, Dhaka', 23.788001, 90.417095],
        ['Gulshan 1, Dhaka', 23.776634, 90.413951]
    ];
                        
    // Info Window Content
    var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>HEADQUARTERS</h3>' +
        '<p>Hosna Center (5th floor), 106, Gulshan Avenue, Dhaka.</p>' +
        '</div>'],
        ['<div class="info_content">' +
        '<h3>Satellite Office</h3>' +
        '<p>House: 10A, Road: 4, Gulshan: 1, Dhaka.</p>' +
        '</div>'],
    ];
    
    // Multiple Markers
    var markers2 = [
        ['Gulshan Avenue, Dhaka', 23.788001, 90.417095]
    ];
                        
    // Info Window Content
    var infoWindowContent2 = [
        ['<div class="info_content">' +
        '<h3>HEADQUARTERS</h3>' +
        '<p>Hosna Center (5th floor), 106, Gulshan Avenue, Dhaka.</p>' +
        '</div>']
    ];
    
    
    runMap(map, markers, infoWindowContent, 14);
    runMap(map2, markers2, infoWindowContent2, 3);
}

function runMap(map, markers, infoWindowContent, zoom) {
    map.setTilt(45);
    var bounds = new google.maps.LatLngBounds();
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(zoom);
        google.maps.event.removeListener(boundsListener);
    });
}

$(document).ready(function(){
    /*$(document).on('click','.contact-us-nav li,.contact-us-nav li a',function(){
        initialize();
    });*/
    initialize();
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      //e.target
        initialize();
    });
});
</script>
                </div><!--.contact-us-home-page-wrapper-->
            </section><!--#contact-us-->
        </div><!--#fullpage-->
        
        <div id="main-view">
            <div class="container-fluid product-home-page-wrapper">
                <div class="row product-list-row" ng-view></div>
            </div>
        </div><!--#Main View-->

        <!--JavaScript-->
        <script src="resources/js/jquery-2.1.4.min.js"></script>
        <script src="resources/js/jquery.fullPage.min.js"></script>
        <script src="resources/js/bootstrap.min.js"></script>
        <script src="resources/js/slick.min.js"></script>
        <script src="resources/js/perfect-scrollbar.jquery.js"></script>
        <script src="resources/js/imagesloaded.pkgd.min.js"></script>
        <script src="resources/js/wow.min.js"></script>
        <script src="resources/js/typed.min.js"></script>
        <script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
        <script src="resources/dist/js/lightgallery-all.min.js"></script>

        <script src="angular/core/angular.min.js"></script>
        <script src="angular/core/angular-route.min.js"></script>
        <script src="angular/core/angular-resource.min.js"></script>
        <script src="angular/core/angular-animate.min.js"></script>
        <script src="angular/core/angular-cookies.min.js"></script>
        <script src="angular/core/angular-sanitize.min.js"></script>
        <script src="angular/core/ngStorage.min.js"></script>
        <script src="angular/library/slick.min.js"></script>
        <script src="angular/app.js"></script>
        <script src="angular/router/router.js"></script>
        <script src="angular/directives/main.dic.js"></script>
        <script src="angular/services/main.ser.js"></script>
        <script src="angular/controllers/main.ctrl.js"></script>

        <script src="resources/js/main.js"></script>
</body>
</html>