html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

 ::-webkit-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
ul{margin: 0;padding: 0}  /*ul get margin from Bootstrap*/

html,body{
    width: 100%;
    height:100%;
    overflow: hidden;
    position: fixed;
    font-family: 'Roboto',Helvetica,Arial;
}

a{color: inherit}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:focus, 
.nav-pills > li.active > a:hover,
.nav-pills > li.active{
    background: transparent;
    color: #FBB64F !important;
}
/*{color: #FBB64F;}*/

.position-a{position: absolute;}

.position-r{position: relative;}

.h-100{height: 100%}

select:focus,
select:hover,
select:active{outline: none;}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
a:hover,
a:active,
a:focus{
    outline: none !important;
}

/*Reset*/
a:focus{
    outline: none !important;
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
input:focus{
    outline: none !important;
}
select:focus{
    outline: none !important;
}
button:focus{
    outline: none !important;
}

/*=======================================================================
                        [Table of contents]
=========================================================================
OO. Loder
00. Typography
01. Home
02. Header
03. Home Page Second
04. Footer Page
05. Main Menu
06. Banner Slider
07. Contact Form
08. Product List Page
09. Product View
10. Style For Product List
11. Bottom Menu For Mobile
12. G View
13. BootStrap Carousel
14. News Room
15. Apply Form
16. Contact Form
 Z. For Change
========================================================================*/

/*----------------------------------------------------------------------*/

/*===================================
             OO. Loder
===================================*/
.loader{background:rgba(51, 62, 58, 1);display: none;}

@-webkit-keyframes uil-rolling-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-rolling-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-rolling-css {
    width: 200px;
    height: 200px;
    -webkit-transform:scale(0.37);
            transform:scale(0.37);
}
.uil-rolling-css > div {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-animation: uil-rolling-anim 1s linear infinite;
  animation: uil-rolling-anim 1s linear infinite;
}
.uil-rolling-css > div div {
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 1000px 1000px 0 0;
  border-color: #d25353;
  border-style: solid;
  border-width: 6px;
  border-bottom-width: 0;
}
.uil-rolling-css > div div:nth-of-type(2) {
  -webkit-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
}
.uil-rolling-css {
  width: 200px;
  height: 200px;
}
.uil-rolling-css > div {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-animation: uil-rolling-anim 1s linear infinite;
  animation: uil-rolling-anim 1s linear infinite;
}
.uil-rolling-css > div div {
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 1000px 1000px 0 0;
  border-color: #d25353;
  border-style: solid;
  border-width: 6px;
  border-bottom-width: 0;
}
.uil-rolling-css > div div:nth-of-type(2) {
  -webkit-transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
  transform: translate(0, 50px) rotate(54deg) translate(0, -50px);
}



/*===================================
             00. Typography
===================================*/
a{cursor: pointer;}
.upper-btn,
.page-title-text{font-family: 'Roboto', sans-serif;}

.bt-text-lowercase{text-transform: lowercase !important;}

.height-full{height:100%}

.position-a{position: absolute;}
.position-r{position: relative;}

/*===================================
               01. HOME
===================================*/
#home-page{height: 100%}

.home-page-wrapper{
    height: 100%;
    background: #2BC3CE;
}

/*===================================
               02. Header
===================================*/
/* Logo or nav bar are in different position Lest or right.
   And area of middle side is blank.
*/


header{}

.header-wrapper{
    height: auto;
    min-height: 100px;
    top: 25px;
    left: 0;
    right: 0;
}

.logo{
    width: auto;
    height: auto;
    position: fixed;
    z-index: 550;
    top: 25px;
    left: 90px;
}

.logo img{cursor: pointer;;}

.nav-icon-main{
    width: auto;
    height: 25px;
    color: #fff;
    position: absolute;
    top:40px;
    right: 6%;
    z-index: 550;
}

.nav-icon{
    float: left;
    color: #A7ABAE;
}

.toggol-menu{
    cursor: pointer;
    padding: 10px;
    color: #bcbeco;
}

.fafa-bars{
    background: url(../img/icon.png) no-repeat;
    background-size: 100%;
    width: 44px;
    height: 48px;
}

.spritesprite-close-red{
    background: url(../img/close.png) no-repeat;
    background-size: 100%;
    width: 44px;
    height: 48px;
    float: left;
}

/*===================================
         03. Home Page Second
===================================*/
section{height: 100%}

#category-home-page .row,
#service-focuse .row,
#alliances .row,
#sector .row,
#about-us .row,
#contact-us .row{height: inherit;overflow: hidden;position: relative;}

.category-home-page-wrapper,
.service-focuse-home-page-wrapper,
.alliances-home-page-wrapper,
.sector-home-page-wrapper,
.about-us-home-page-wrapper,
.contact-us-home-page-wrapper,
.testimonial-page-wrapper{height:100%;position: relative;}

section .area{
    background-size:cover;
    background-repeat:no-repeat;
    height:100%;
    background-position: center;
}

.upper-btn{
    position: absolute;
    width: 375px;
    height: 85px;
    padding: 0 35px;
    line-height: 85px;
    top: 28%;
    left: 0;
    right: 0;
    font-size: 50px;
    color: rgba(255,255,255,.3);
    max-width: 90%;
    border: 1px solid rgba(255,255,255,.3);
    background-color: rgba(255,255,255,.1);
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    cursor: default;
    z-index:530;
}

.upper-btn:before{left: -200%}

.upper-btn:before,
.upper-btn:after{
    position: absolute;
    top: 50%;
    width: 200%;
    background-color: rgba(255,255,255,.3);
    height: 1px;
    content: "";
}

.upper-btn:after{right: -200%;}

.page-title-text{
    width: 255px;
    height: auto;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    position: relative;
    color: #fff;
    top: 52%;
    left: 0;
    right: 0;
    z-index: 410;
}

.page-title-text h2{
    font-size: 26px;
    font-weight: 700;
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding-bottom: 10px;
}

.detail-banner .page-title-text{top: 45%}

.page-title-text span{font-size:18px}

.detail-banner .page-title-btn{
    width: 72px;
    border: 1px #fff solid;
    height: 38px;
    margin: 40px auto 0;
}

.detail-banner .page-title-btn a{
    float: left;
    display: inline-block;
    width: 48%;
    height: 100%;
    line-height: 35px;
}


/* SERVICE FOCUS page*/
.service-focuse-home-page-wrapper .upper-btn{width: 459px}

/*SECTION FOR ALLIANCES*/
.alliances-home-page-wrapper .upper-btn{width: 380px}

/*SECTION FOR SECTOR*/
.sector-home-page-wrapper .upper-btn{width: 380px}

/*SECTION FOR CONTACT US*/
.contact-us-home-page-wrapper .upper-btn{width: 430px;}

.page-title-text-contact{
    width: auto;
    height: auto;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    position: relative;
    color: #fff;
    top: 52%;
    left: 0;
    right: 0;
}

.page-title-border-btm{
	background: rgba(255, 255, 255, 0.3);
	height: 1px;
	margin: 0 auto 10px;
	width: 560px;
}

.page-title-text-contact span{letter-spacing: 9px;}


/**************************************
         04. Footer Page
**************************************/

/*CONTACT US NAVIGATION*/
.contact-us-nav{
    background:rgba(14, 17, 30, .8);
    height: 60px;
    position: relative;
    left: 0;
    right: 0;
    top: calc(28% + 85px);
    top: -ms-calc(28% + 85px);
    top: -o-calc(28% + 85px);
    top: -moz-calc(28% + 85px);
}

.contact-us-nav .container{height: 100%}

.contact-us-nav ul{
    list-style: none;
    float: left;
    position: absolute;
    left: 90px;
}

.contact-us-nav li{
    float: left;
    border-right: solid rgba(255,255,255,.4) 1px !important;
    border-bottom: solid rgba(255,255,255,.4) 1px;
    padding: 0 20px 17px;
}

.contact-us-nav li:first-child{margin-left: -20px}

.contact-us-nav li:last-child{border-right: solid transparent 1px !important;}

.contact-us-nav a{
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    float: left;
    font-weight: 700;
    font-size: 13px;
    padding: 0 12px;
    margin-top: -5px;
}

.nav-tabs{position: absolute;bottom: 0;}

.contact-us-nav-active,.contact-us-nav a:hover{color: #0093C7}

.form-btn-c{
    width: 335px;
    right:0;
    bottom: 10px;
    position: absolute;
    margin-top: 12px;
}

.form-btn-c a{
    color: #0195C5;
    font-size: 26px;
    font-weight: 700;
}


.form-btn-c li{float: left;}

.form-btn-c a{margin-top: 2px;padding: 0 5px;}

.form-btn-c .form-btn{
    float: left;
    display: block;
    color: red;
}

/*Reset Bootstrap Starting*/

.contact-right-ul{
    list-style: none;
    position: absolute;
    right: 0;
}

.contact-right-ul li{
    border: none;
    padding: 0;
    margin-right: 0;
    float: left;
    border-right: solid rgba(255,255,255,.4) 1px !important;
    /*border-bottom: solid rgba(255,255,255,.4) 1px !important;*/
    padding: 0 20px 17px;
}

.contact-right-ul li:last-child{
    border-right: solid transparent 1px !important;
    padding-right: 0;
    padding-left: 0;
}

.contact-right-ul a{
    background-color: transparent;
    padding-right: 0 !important;
}

.contact-right-ul.nav-tabs > li > a:hover,
.contact-right-ul.nav-tabs > li > a:active,
.contact-right-ul.nav-tabs > li > a:focus{
    border-color: transparent;
    background: transparent;
}

.about-us-view{
    top: calc(28% + 145px);
    top: -ms-calc(28% + 145px);
    top: -o-calc(28% + 145px);
    top: -moz-calc(28% + 145px);
    position: absolute;
    width: 100%;
    height: calc(100% - 145px);
    height: -ms-calc(100% - 145px);
    height: -o-calc(100% - 145px);
    height: -moz-calc(100% - 145px);
}

.nav-tabs a{padding: 0 20px 0 20px}

.contact-left-ul a{border: solid 0px transparent !important;}

.contact-left-ul a:active{
    background-color: transparent;
}

.tab-content{height: 100%}

/*Reset Bootstrap Tab Starting*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{background-color: transparent}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{color:#0195c5}

.nav > li > a:focus, .nav > li > a:hover{background-color: transparent;border: none}
.nav > li > a{padding: 0;border: none}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li > a:active{
    line-height:unset;
    margin-bottom: 0;
    border:none !important;
    outline: none;
}

.nav-tabs > li,
.nav-tabs > li a{border: none}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border: none}

.contact-us-nav li{border-bottom: none}

.contact-us-nav li a{margin-top: 0px;}

.nav-tabs{border-bottom: 1px solid rgba(255,255,255,.2)}

/* For Content area of Contact Us Page*/
.contact-view{
    position: absolute;
    bottom: 0;
    width: 100%;
    background:rgba(0, 0, 0, .9);
    height: calc(100% - 28% - 145px);
    height: -ms-calc(100% - 28% - 145px);
    height: -o-calc(100% - 28% - 145px);
    height: -moz-calc(100% - 28% - 145px);
    color: #BCBEC0;
}

.cont-view-wpr{
	height: 100%;
	position: relative;
}

.cont-view-wpr .tab-content{padding-bottom: 40px}

.contact-view .col-xs-6{
    height: 100%;
}

.info-box{width: 100%}

..info-box-single{
    width: 100%;
    float: left;
}

.info-box h5,
.info-box-single h5{
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    margin: 20px 0 25px;
}

.info-box p{
    margin: 0 0 5px 0;
    font-size: 12px;
}

.info-box a:hover{color:#01B1F2}

.copy-right-box{
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-left: 105px;
    background-color: #040301;
}

.copy-right-box ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 185px;
    display: inline-block;
    float: left;
}

.copy-right-box a .fa{color: #3FC2EE}
.copy-right-box a .fa-facebook:hover{color: #3C5998}
.copy-right-box a .fa-twitter:hover{color:#28A9E0}
.copy-right-box a .fa-google-plus:hover{color:#D23F31}
.copy-right-box a .fa-youtube-play:hover{color:#CC181E}
.copy-right-box a .fa-linkedin-square:hover{color:#1683BC}

/*.copy-right-box ul a .slgoogle{
  background:url("../img/social-gw.png"); 
  width: 15px;
  height: 15px;
  float: left;
  display: inline-block;
}*/

.copy-right-box ul a .slgoogle:hover{background:url("../img/social-gw-wh.png");}

.copy-right-box ul a .fyoutubeplay{
  background:url("../img/social-yt-blue.png"); 
  width: 15px;
  height: 11px;
  float: left;
  display: inline-block;
}

.copy-right-box ul a .fyoutubeplay:hover{background:url("../img/social-wh-yt.png");}

.copy-right-box li{
    float: left;
    padding: 0 15px;
}

.copy-right-box li:first-child{padding-left: 0}
.copy-right-box li:last-child{padding-right: 0}

.copy-right-box a{text-decoration:underline;color: inherit}

.cmpy-right{
    float: right;
    font-size: 11px;
    line-height: 20px;
    margin-right:6%;
}

.cmpy-right a{text-decoration: none;}

.multiple-items div{
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}

.form-area-c{}

#map1{height: 100%}

#map1 iframe{height: 100%; padding-bottom: 30px}

/*Contact Us Page*/
.info-box h3{color: #0195c5;text-transform:capitalize;}

#sform{
	position: relative;
	left: 90px;
}

#sform label,
#sform input,
#sform textarea{background: transparent;}

#sform label{
    color: #fff;
    width: 64px;
    font-weight: 300;
    font-size: 14px;
    float: left;
}

#sform input,
#sform textarea{
    border: 1px solid rgba(255,255,255,.5);
    padding: 6px 8px;
    resize: none;
    width:40%;
}

#sform input[type="submit"]{
    width: auto;
    border: none;
    background: #0195c5;
    color: #fff;
    font-size: 12px;
    margin-left:64px;
}

#sform input[type="submit"]:hover{background-color: #0079BF}

#enquiry{margin-bottom: 80px}

/*===================================
           05. Main Menu
===================================*/

#main-menu{}

.main-menu-wpr{
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    z-index: 600;
    /*background: url("../img/1.jpg");*/
    background:rgba(51,62,58,.95);
    top: -100%;
}

.menu-view{
    top: 0px;
}

.barg-o-one{opacity: 1;filter: alpha(opacity=100)}

.menu-animated{}

.main-menu-content{
    width: 100%;
    float: left;
    background-color: transparent;
    height: calc(100% - 75px);
    height: -o-calc(100% - 75px);
    height: -ms-calc(100% - 75px);
    height: -moz-calc(100% - 75px);
    overflow: hidden;
}

.menu-item-view-area{
    width: 80%;
    float: left;
    margin-top: 50px;
    height: -ms-calc(100% - 50px) !important;
    height: -o-calc(100% - 50px) !important;
    height: calc(100% - 50px) !important;
    display: block;
    overflow: hidden;
    background-color: transparent;
}

.menu-item-view-area-wrp{
    width: 100%;
    float: left;
    background-color: transparent;
}


.menu-column{
    width: 20%;
    height: 100%;
    float: left;
    padding-top: 40px;
}

.menu-list h4{min-height: 45px;}

.menu-list h4 a{
    font-weight: 700;
    text-transform: uppercase;
}

.menu-footer{
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    background: rgba(252,182,78,.60);
}

.sub-btn{
  border-bottom:none !important;
  padding:0 !important;
  margin-left:0 !important;
}

.nav-pills li:nth-last-child(3){margin-top: 30px !important}
.nav-pills .sub-btn:last-child{margin-top: 0 !important}

.sub-btn a{
  color: #857554 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  text-transform: capitalize !important;
}

.first-column{
    background-color: #333E3A;
    padding:40px 20px 0 0;
}

.first-column ul{
    list-style: none;
    padding-left: 23%;
}

.first-column li{
    border-bottom:solid 1px rgba(255,255,255,.07);
    float: none;
    padding: 10px 0;
}


.first-column a{
    color: #857554;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    background: transparent;
    text-transform: uppercase;
}
.first-column-active,
.first-column a:hover,
.first-column a:active{color:#FCB64E !important;}

/**___Menu Sub Item Button___**/
.sub-menu-btn{margin-top:0;}

.sub-menu-btn ul{
	list-style: none;
}

.sub-menu-btn li{
	padding: 0;border-bottom:none;
	margin-bottom: 5px;
}

.sub-menu-btn a{
	color: #857554;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
}

.sub-menu-btn-active,
.sub-menu-btn a:hover{color: #fcb64e}

.menu-list{
  width: 30%;
  padding-top: 0 !important;
}

.menu-list:last-child{
    padding-right: 2%;
}


.menu-list h4{
    color: #B1B635;
    width: 160px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
}

.menu-list h4{
    margin: 0 0 0 19%;
}
.menu-list h4 a{
    color: #B1B635;
}
.menu-list ul{
    list-style: none;
    padding: 0;
    margin-left: calc(19% - 17px);
    margin-left: -o-calc(19% - 17px);
    margin-left: -ms-calc(19% - 17px);
    margin-right: 0;
}

.menu-list li{
    margin-bottom: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: url("") no-repeat;
    padding-left: 17px;
}

.menu-li-active,
.menu-list li:hover{background: url("../img/munu-li-arrow.png") no-repeat;}

.menu-list a{
    color: #BCBEC0;
    font-weight: 400;
}

.menu-list a:after{
    content: "";
    background: red;
    width: 8px;
    height: 16px;
}

.menu-list-active,
.menu-list a:hover{
    color: #BCBEC0;
    font-size: 14px;
    color: #fff;
}

.border-bottom{
    background: rgba(255,255,255,.15);
    height: 1px;
    width: 100%;
    margin: 10px 0 25px;
}

.menu-cross{
    position: absolute;
    top: 40px;
    right: 6%;
    padding: 0;
}

.menu-bottom{
    width: 100%;
    height:auto;
    float: left;
    background: #333E3A;
    position: absolute;
    padding: 10px 0;
    bottom: 0;
}

.copy-right-text{
    font-size: 12px;
    line-height: 15px;
    color:#BCBEC0;
    padding-top: 10px;
}

.copy-right-text div{padding-left: 10%}

.copy-right-text a{
    color: inherit;
}

.mobile-social{
    list-style: none;
    width: 220px;
    margin: 15px auto 0;
}

.mobile-social li{
    float: left;
    padding: 0 18px;
}


.mobile-social li:first-child{padding-left:0}
.mobile-social li:last-child{padding-right:0;}

.mobile-social a{color: #fff;}

.mobile-social .fa-facebook:hover{color: #3C5899;}
.mobile-social .fa-twitter:hover{color: #28A9E0;}
.mobile-social .fa-google-plus:hover{color: #dd4b39;}
.mobile-social .fa-youtube-play:hover{color: #E22C29;}
.mobile-social .fa-linkedin-square:hover{color: #1683BC;}

.sl-google{
    background:url("../img/social-wh-google.png") no-repeat;
    width: 10px;
    height: 15px;
    display: block;
}

.mobile-search input,
.mobile-search-sm input{float: left;}

.mobile-search i,
.mobile-search-sm i{
    font-size: 26px;
    width: 31px;
    height: 31px;
    margin-top: 8px;
    float: left;
    color: #fff;
    font-weight: 100;
}

.mobile-search input[type="text"],
.mobile-search-sm input[type="text"]{
    background: transparent;
    border: none;
    color: #808080;
    font-size: 14px;
    font-weight: 700;
    width: 135px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    height: 45px;
    margin-left: 5px;
}

.mobile-search input[type="text"]:focus .mobile-search .fa-search{display: none;}
.mobile-search input[type="text"]:focus{width: 180px;}

.menu-item-view-area .ps-scrollbar-y-rail{top:40px !important;height: 100% !important}
.menu-item-view-area .ps-scrollbar-y-rail .ps-scrollbar-y{}

.mobile-search{margin-right: 17%}
.mobile-search-sm{display: none;}

/*===================================
           06. Banner Slider
===================================*/
#fullpage {
    float: left;
    height: 100%;
    width: 100%;
}

.banner-slider-wrpr{
    width: 100%;
    height: 100%;
    float: left;
    margin: 0;
    position: absolute;
    z-index: 390;
}

#home-page .slick-dots{
    position: absolute;
    z-index: 395;
    left: 0;
    right: 0;
    bottom: 30px;
    height: 40px !important;
    list-style: none;
    background-color: transparent;
    margin: 0 auto;
    width: 170px;
}

#home-page .slick-dots li{
    float: left;
    width: 20px;
    height: 4px !important;
    margin: 0 7px;
    background-color: #fff;
}

#home-page .slick-dots li button{
    float: left;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: rgba(255,255,255,.0);
}

/*#home-page .slick-dots li:last-child button:after{
  width: 0;
  height: 0;
  background-color: transparent;
}*/

.silder-img{
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.slider-hover{
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: red;
}

.slick-dots::after{
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  background-color:red;
}

.slick-text{
  font-family:"Roboto",sans-serif;
}

.slick-active{background-color:rgba(0,0,0,.4) !important;}

.slide{font-weight:300;text-transform: uppercase;}
.slide .first-letter{font-weight: 700}


/*Layer Slider*/
#slider-wrapper{
  float: left;
  width: 100%;
  height: 100%;
}

.slick-text{
	top: 45%;
	left: 0;
	right: 0;
	margin: 0 auto !important;
	width: auto;
}
/*Slider Pagination*/
.ls-bottom-nav-wrapper{bottom: 60px}

.ls-nav-start,
.ls-nav-stop{display: none !important;}

.ls-bottom-slidebuttons{
	top: 0;
}

.ls-bottom-slidebuttons a{
	display: block;
	width: 20px !important;
	height: 4px !important;
	margin: 0 7px;
	background-color: #c19e9f;
	border-radius: 0;
}

.ls-nav-active{background-color: #fff !important}



/*===================================
       08. Product List Page
===================================*/
#product-list{
    width: 100%;
    height: 100%;
    background: green;
}

.product-view-area{
    padding-top: 50px;
}

.breadcrumbs{
    list-style: none;
    position: relative;
    padding: 0;
    top: 32px;
    padding-right: 17%; 
}

.breadcrumbs li{
    float: left;
    padding: 0 10px;
    color:#A7ABAE;
    font-size: 12px;
}

.breadcrumbs li:after{
    content: "     >";
    padding: 0 0 0 5px;
}

.breadcrumbs li:last-child:after{content:""}

.list-close{
    background-color:#E9EDF0;
    width: 44px;
    height: 46px;
    position: absolute;
    margin-top: 40px;
    top: 0;
    left:0;
    padding:13px 0 0 12px;
    cursor: pointer;
    overflow: hidden;
}



/*Perfect Scrollbar*/
.product-list-li-wpr{
    width: 91%;
    overflow: hidden;
    height: calc(100% - 145px);  /*Dynamic height*/
    height: -ms-calc(100% - 145px);
    height: -o-calc(100% - 145px);
    height: -moz-calc(100% - 145px);
    float: left;
    padding-right: 10px;
    position: relative;
    margin-top: 75px;
}

.gview-list-li-wpr .ps-scrollbar-y-rail{
  margin-right: 13px !important;
  margin-top: 110px;
}

.product-img-box{
    float: left;
    width: 80px;
    height: 75px;
    background: #F3F3F5;
    margin:17px 15px 20px 0;
    overflow: hidden;
}

.product-img-box img{
    width: 100%;
}

.product-view-result-ul{
    list-style: none;
    padding-left: 20px;
}

.product-view-result-ul li{
    float: none;
    position: relative;
    height: 110px;
    overflow: hidden;
    border-bottom: solid 1px rgba(0,0,0,.09);
}

.product-view-result-ul li:hover{background-color:rgba(243, 243, 245,.6)}

.product-view-result-ul a{
  float: left;
  width: 100%;
  height: 100%;
}

.list-result-text{
    color: #8A8A8C;
    width: 85%;
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
}

.list-result-text h3{margin-top: 15px;display: inline-block;}

.product-list-li-wpr h3,.product-list-li-wpr h4{
    text-transform: uppercase;
    color: #24ACD4;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    font-weight: 400;
}

.product-list-li-wpr h3{
	font-weight: 700;
	display: block;
	padding-top:5px;
}

.product-list-li-wpr h4,
.product-list-li-wpr strong{
    color: #24acd4;
    margin-top:40px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 20px ;
}

.product-list-li-wpr ul{list-style: none;}

.product-list-li-wpr span,
.product-list-li-wpr li,
.product-list-li-wpr p{
    color:#414142;
    font-size: 13px;
}

.detalis-text-wpr{
    padding-right:0;
    line-height:20px;
    padding-left: 35px;
}

.list-plus-btn{
    width: 25px;
    height: 75px;
    background: #F3F3F5;
    float: right;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 15px;
    right: 0;
    margin-top: 2px;
}

.list-plus-btn span{color: #A7ABAE}

.product-row .area{}

/*===================================
       09. Product View
===================================*/
#product-view-page-wpr{
    width: 100%;
    height: 100%;
    float: left;
    background: #fff;
}

.breadcrumbs{
    width: auto;
    margin-top: -30px;
    margin-right: 0;
    margin-left: 35px;
    float: left;
    text-align: left;
    color: #D7D8DA;
}

.breadcrumbs h3{font-size: 18px}

.breadcrumbs ul{
    list-style: none;
    float: right;
}
.breadcrumbs li{
    float: left;
    padding:0 10px 0 0;
    color: #D7D8DA;
    text-transform: uppercase;
    font-size: 11px;
}

.breadcrumbs li:after{
    content: " >  ";
}

.breadcrumbs li:last-child{padding-right: 0}

/*Product View Menu*/
.product-nav{
    width: 100%;
    float: left;
    border-bottom: 2px solid rgba(0,0,0,.08);
}

.product-nav ul{
    list-style: none;
    width: 100%;
}

.product-nav li:first-child{padding-left: 0}

.product-nav li{
    border-right: 2px solid rgba(0,0,0,.08);
    float: left;
    padding: 15px 21px 5px;
}
.product-nav li:last-child{border-right: solid 1px transparent}

.product-nav a{
    font-weight: 700;
    color: #A6A9AB;
    text-transform: uppercase;
    font-size: 12px;
}

.product-nav-active,
.product-nav a:hover{color: #000}

.product-wrp-area{
    padding-top: 24px;
}

.product-wrp-area:last-child{padding-left: 35px}

.product-img-v-board{margin-bottom: 12px; overflow: hidden;height: 280px;}

.img-ul-list{}

.img-ul-list ul{
    list-style: none;
}

.img-ul-list li{
    float: left;
    margin-right: 7px;
    overflow: hidden;
    width: 70px;
    height: 70px;
}


.img-ul-list li:hover{
    opacity: .5;
    filter: alpha(opacity=50);
}

.img-ul-list li:last-child{margin: 0}

.product-wpr-right{
    float: left;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba(0,0,0,.11);
}

.product-wrp-area h4{
    text-transform: capitalize;
    color: #1A94C3;
    font-weight: 700;
    width: 250px;
    margin-bottom: 20px;
}

.product-social-area ul{list-style: none}

.product-social-area li{
    float: left;
}


.product-content{
    height: 70px;
    overflow: hidden;
}

.product-content p{
    color: #A9AAAD;
    font-size: 11px;
    line-height: 12px;
}

.product-wrp-area span{
    font-size: 11px;
    margin: 0px auto 18px;
    display: inline-block;
}

.product-page-btn{
    width: 250px;
    background-color: #1A94C3;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 9px 0;
}

.product-social-area{
    width: 250px;
    border: 1px solid rgba(0, 0, 0, .06);
    color: #1A94C3;
    display: block;
    padding: 9px 0;
    height: 40px;
}

.product-social-area ul{
    list-style: none;
    margin-left: 50px;
}
.product-social-area li{
    float: left;
    padding: 0 8px;
    font-size: 13px;
}

.product-left-right{}

.product-left-right ul{
    list-style: none;
}

.product-left-right li{
    float: left;
}

.product-left-right-arrow{
    bottom: 3px;
    position: absolute;
    right: 0;
}

.product-left-right-arrow ul{
    width: 75px;
    list-style: none;
    float: right;
    border: 1px solid rgba(0, 0, 0, .06);
}

.product-left-right-arrow li{
    float: left;
    width: 50%;
    height: 35px;
}
.product-left-right-arrow a{padding: 12px 15px;float: left}
.product-left-right-arrow a:hover{
    background: #CCCCCC;
}

.product-btn-area{position: relative}

/*======================================
       10. Style For Product List
=======================================*/
.main-product-wrapper{height: 100%;width: 100%; float: left}
.product-wrapper{}
.product-home-page-wrapper{
    height:100%;
    width: 100%;
    position: absolute;
    display: table-cell;
}

.product-list-row{height: 100%}
.product-list-row .area{height: 100%;background-size: cover;background-position: center;}

.wpr-page-view{
    width: 88%;
    width: 88%;
    width: 88%;
    width: 88%;
    width: 88%;
    margin: 0 auto;
}

/*CSS Translucent Background Color*/

.translucent-div{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,0,0,0.75);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
    -webkit-filter: blur(3px);
       -moz-filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=3);
    z-index: 400;
}

/*Scrolling Fix*/
.ps-container > .ps-scrollbar-y-rail,
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    width: 4px;
    border-radius: 0;
}

.ps-container:hover > .ps-scrollbar-y-rail {
    background-color: #EEE;
    opacity: 0.9;
    filter: alpha(opacity=90);
}


/*======================================
       11. Bottom Menu For Mobile
=======================================*/
.bottom-menu-mobile{
    display: none;
    width: 100%;
    height:auto;
    float: left;
    background: #333E3A;
    position: absolute;
    padding: 10px 0;
    bottom: 0;
}

.bottom-menu-mobile .mobile-search{
  margin: 0 auto;
  width: 220px;
}

/*======================================
            12. G View
======================================*/
.area-gview-1{
    width: 33.333%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:#DEDDDD !important;
}

.area-gview-2{
    width:66.666%;
    height: 100%;
}

.g-thumbnail{
    float: left;
    padding: 0;
    height: 180px;
    overflow: hidden;
    background-color:#F3F3F5;
    background-size: cover;
    background-position: center;
}

.g-thumbnail img{
  cursor: pointer;
  width: auto;
  min-width: 100%;
  height: 100%;
}

.gview-list-li-wpr{
    float: left;
    height: calc(100% - 170px);
    height: -ms-calc(100% - 170px);
    height: -o-calc(100% - 170px);
    height: -moz-calc(100% - 170px);
    margin-top: 55px;
    margin-left: 35px;
    overflow: hidden;
    padding-right: 30px;
    width: 90%;
}

.gview-list-li-wpr .ps-scrollbar-y-rail{
	height: calc(100% - 170px);
    height: -ms-calc(100% - 170px);
    height: -o-calc(100% - 170px);
    height: -moz-calc(100% - 170px);
    overflow: hidden;
    background-color: green;
    top: 0;
}

.image-gallery{margin-top: -35px}

.gview-list-li-wpr h3{font-weight: 700}

.gview-list-li-wpr h4{
    color: #24acd4;
    margin-top:40px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.area-gview-1 .page-title-text{top: 37%;}

.area-gview-1 .page-title-text h2{font-size: 22px;font-weight: 400;}

.area-gview-1 .page-title-btn{
    width: 72px;
    border: 1px #fff solid;
    height: 38px;
    margin: 0 auto;
}

.area-gview-1 .page-title-btn a{
    float: left;
    display: inline-block;
    width: 48%;
    height: 100%;
    line-height: 35px;
    background-color: rgba(0,0,0,.2);
}


/*** share area of gallery ***/
.share-area{
    width: 225px;
    height: 35px;
    border: solid 1px #fff;
    margin: 0 auto 0;
    position: absolute;
    background-color: rgba(0,0,0,.2);
    bottom: 85px;
    left: 0;
    right: 0;
}

.share-area ul{
    padding-top: 5px;
    list-style: none;
    width: 130px;
    margin: 0 auto;
    color: #fff;
}

.share-area li{
    float: left;
    margin-right: 20px;
    color: #fff;
}
.share-area li:last-child{margin-right: 0}
.share-area a{color: #fff}

.share-area .fa-facebook:hover{color:#43609C}
.share-area .fa-twitter:hover{color:#28A9E0}
.share-area .fa-google:hover{color:#D23F31}

.gview-list-li-wpr .ps-scrollbar-y-rail{right: 9% !important}


/*======================================
          13. BootStrap Carousel
======================================*/
#myCarousel,#myCarousel2{
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 550px;
  height: 305px;
}

.carousel-circle{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 0 auto;
  border: solid 5px #fff;
  overflow: hidden;
}

.carousel-caption{
  position: relative;
  padding: 0 0 0;
  left: 0;
  right: 0;
  width: 100%;
  float: left;
  margin-top: 32px;
}

.carousel-caption i{
  display: inline-block;
  position: absolute;
  color: #453774;
  font-size: 23px;
  font-weight: 400;
}

.carousel-caption p{
  padding: 0 7%;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.carousel-caption .fa-quote-left{top: 0;left: 0;}
.carousel-caption .fa-quote-right{right: 0;bottom: 0}

.item{}

.carousel-indicators{
  position: static;
  margin: 0 auto 0;
}

.carousel-indicators li{
  border-radius: 0;
  width:20px;
  height: 4px;
  overflow: hidden;
  background-color: #C19E9F;
  border: none;
  margin: 0 7px;
}

.carousel-indicators .active{
  width:20px;
  height: 4px;
  background-color: #fff;
  margin: 0 7px;
}

/*For Google Map*/
.info_content {color: #333 !important;}

/*======================================
          14. News Room
======================================*/
#news-room-wrapper{}
.news-room-wrapper{height: 100%;width: 100%; float: left}
.news-room-wrapper .list-close{
    background-color: #fff;
    cursor: pointer;
    height: 40px;
    left: -40px;
    margin-top: 40px;
    padding: 10px 10px 0;
    position: absolute;
    top: 0;
    width: 40px;
    overflow: hidden;
}
.product-row{height: 100%}
.news-room-wrapper .page-title-text{top:37%}

.news-room-wrapper .page-title-btn{
    border: solid 1px #fff;
    width: 75px;
    height: 40px;
    margin: 30px auto 0;
}

.news-room-wrapper .page-title-btn a{
    display: inline-block;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    line-height: 40px;
}

.product-wrapper{}
.news-page-wrapper{
    height:100%;
    width: 66%;
    position: relative;
}

.news-page-wrapper .list-close{
    position: absolute;
    left:0;
}

.left-side-area{
    width: 33%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:#DEDDDD;
}

.product-list-row{height: 100%}
.product-list-row .area{
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 520;
}

.news-hook{float: left}

.wpr-news-page-view{
    width: 100%;
    padding-right: 0;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.wpr-news-page-view .breadcrumbs{
    margin-top: 50px;
    margin-left: 35px;
    position: static;
    left: -79px;
}

.wpr-news-page-view .list-close{}

.news-area{     /*News Area For Scroll*/
    float: left;
    height: 410px;
    margin-left: 35px;
    margin-top: 55px;
    overflow: hidden;
    padding-right: 4%;
    width: 90%;
}

.new-view-board-wpr{
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.new-view-board{
    width: 100%;
    height: 100%;
    float: left;
    background-color: green;
    display: table;
}

.new-view-board-wpr h3{
    color: #1A9DC6;
    font-weight: 700;
    font-size: 19px;
    margin: 0;
}

.new-view-board-wpr span{
    font-size: 12px;
    margin: 5px 0 7px;
    display: block;
}
.new-view-board-wpr p{
    font-size: 13px;
    font-weight: 400;
}

.news-border{/*border-bottom: solid 1px rgba(0,0,0,.3);display: table;*/}

.news-img-box{
    width: 100%;
    height: auto;
    background-color:#DEDDDD;
    float: left;
    overflow: hidden;
}

.news-img-box img{
    width: 100%;
}

.img-thumbnail-box{
    width: 100%;
    float: left;
    margin-top: 10px;
}

.img-thumbnail-box ul{list-style: none}

.img-thumbnail-box li{
    width: 60px;
    height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #B9A84F;
    background-size: cover;
    background-position:center;
    float: left;
    overflow: hidden;
}

.img-thumbnail-box li:first-child{
  width: 100%;
  height: 250px;
}
.img-thumbnail-box li a,
.img-thumbnail-box li img{
	width: 100%;
	height: 100%;
  float: left;
}

.left-side-area .page-title-btn {
    border: 1px solid #fff;
    height: 40px;
    margin: 30px auto 0;
    width: 75px;
}
.left-side-area .page-title-text{top: 37%}

.left-side-area .page-title-btn a {
    display: inline-block;
    float: left;
    height: 100%;
    line-height: 40px;
    text-align: center;
    width: 50%;
}

/*======================================
          15. Apply Form
======================================*/
#apply-form{}

#apply-form label{
  width: 100%;
}

#apply-form input{
  border: solid 1px #ACACAC !important;
  width: 100%;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

#apply-form select{
  border: solid 1px #ACACAC !important;
  width: 100%;
  height: 30px;
}

#apply-form textarea{
  border: solid 1px #ACACAC !important;
  width: 100%;
  height: 80px;
  padding:7px;
  resize:none;
}

/*======================================
          16. Contact Form
======================================*/
#enquiry-form{}

#enquiry-form label{width:60px;float: left;}

#enquiry-form input,
#enquiry-form textarea{
  width: 100%;
  border-radius: 0;
  border:solid 1px #DEDDDD;
  padding: 5px;
  resize:none;
}

.mail-response{
  color:#6E9739 !important;
  padding-left:15px;
  font-weight: 700;
}

#enquiry-form input{height: 35px}
#enquiry-form textarea{height:81px}

#enquiry-form input[type="submit"]{
  width: 90px;
  height: 35px;
  background-color: #0079BF;
  color:#fff;
}


/*======================================
           Z. For Change
======================================*/

.highlight{
  font-weight: 700;
  color:rgba(20,138,255,.4) !important;
}
.view-all{color:#fbb64f !important}

.about-us-btn{
  width: 151px;
  height: 35px;
  line-height: 45px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12%;
  z-index: 700;
  text-align: center;
  color: #fff;
}

.gallery-image{
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  background-color:#DEDDDD;
  cursor: pointer;
}

.news-area div{padding-left: 0}

.gview-list-li-wpr .ps-scrollbar-y-rail{
  top: 0 !important;
}

.col-33{width: 33% !important}
.col-66{width: 66% !important}

#scroll-btn{
  width: 40px;
  height: 70px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  position: fixed;
  bottom: 40px;
  right: 6%;
  z-index: 550;
}

#scroll-btn a{
  display: inline-block;
  float: left;
  width: 100%;
  height: 35px;
  text-align: center; 
}
#scroll-btn a:hover{background-color: rgba(0,0,0,.2);}

#scroll-btn a i{
  color: #fff;
  line-height: 35px;
  font-weight: 700;
}

.detalis-text-wpr tr{
  color: #414142;
  font-size: 12px;
}

.mail-response{left: 75px;position: relative;}

/*===================================================================================================
                                 Responsive Style Area
===================================================================================================*/
/*Default Screen*/


/*Default Screen*/

/*Default Screen*/

/* Small devices (tablets, 768px and up) */

/* Medium devices (desktops, 992px and up) */

/* Large devices (large desktops, 1200px and up) */

@media only screen and (min-width: 35em) {/* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {/* Style adjustments for high resolution devices */
}

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;/* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


@media (max-height: 1220px){

	#myCarousel,#myCarousel2{top:45%}

	.carousel-circle{
		width: 120px;
		height: 120px;
		border: 3px solid #fff;
	}
	.carousel-caption p{font-size: 13px}

}

@media (min-width: 1200px) {}

@media (max-width: 992px) {
    .mobile-search input[type="text"]:focus{width: 135px}

    .logo {top: 20px;left: 20px;}

    .nav-icon-main,
    .menu-cross{top: 20px;right: 20px}

    #scroll-btn{right: 20px}

    .fafa-bars,
    .spritesprite-close-red{width: 30px;height: 30px}

    .list-close{
      margin-top: 20px;
      width: 30px;
      height: 30px;
    }

    .sprite-close-green{
      width: 30px;
      height: 30px;
      margin-top: -3px;
      margin-left: -3px;
    }
    .breadcrumbs{margin-top: -65px}
    .sprite-close-green{margin-top: -6px;margin-left: -6px}
    .breadcrumbs{margin-top: -55px}

    .mobile-search {margin-right:20px}

    .contact-us-nav ul{left: 20px}

    .copy-right-box{padding-left: 40px}
    .cmpy-right{margin-right: 20px}

    .product-list-li-wpr{width: 99%;padding-right:9px;margin-top: 45px;}

    #sform{left: 20px;}

    .mail-response{left:5px}

}

@media (max-width: 768px) {
    .menu-list h4 {margin: 0 0 0 calc(9% - 0px)}

    .first-column {padding-right: 0;padding-top: 20px;width: 130px;}

    .first-column li {padding: 5px 0;}

    .first-column a {font-size: 12px;}

    .menu-item-view-area {
        padding-right: 3%;
        width: calc(100% - 130px);
        width: -o-calc(100% - 130px);
        width: -ms-calc(100% - 130px);
        margin-top:20px;
    }
    
    .menu-item-view-area-wrp .menu-list {width: 30%;}

    .first-column ul {padding-left: 9%}

    /*Slider*/
    .slick-text{font-size: 35px}

    .menu-list h4{
      margin: 0 0 0 9%;
      margin-left:calc(9% - 3px);
      margin-left:-o-calc(9% - 3px);
      margin-left:-ms-calc(9% - 3px);
    }

    /*Project List View*/
    .share-area{width: 150px}
    .page-title-text{width: auto;}
    .page-title-text h2{font-size:22px;margin-right:-15px}
    /*END of Project List*/
    .menu-list h4{width: 100%}
    .menu-list h4 a{font-size: 12px}
    .menu-list-active, .menu-list a:hover{font-size: 12px}
    .menu-list ul{margin-left: 0}
    .menu-list ul a{font-size: 12px}

    .sub-menu-btn{margin-top: 0}
    .sub-menu-btn a{
      font-size: 14px !important;
      font-weight: 400 !important;
      text-transform: capitalize !important;
    }

    .menu-item-view-area-wrp .menu-column .menu-list:first-child > h4{color: red}

    .copy-right-text{padding-left: 0;padding-right: 0;margin-right: -5px}
    .copy-right-text div{padding-left: 5%}

    .mobile-search{margin-right:20px}

    .nav-icon-main, .menu-cross{top: 20px;right: 20px}

    .mobile-search input[type="text"]:focus{width: 135px}

    .sub-menu-btn li{padding: 0}

    .product-list-li-wpr > div{width: 100%}

    .logo img{width: 200px}

    .img-thumbnail-box li:first-child{margin-right: 0}

}


@media (max-width: 660px){
  /*List View*/
    .news-area > .col-xs-6{width: 100%}
    /*END list view*/
    .menu-list h4{margin-left: 20px; margin-bottom: 10px}
    .menu-list ul{margin-left: 0}
    .menu-list li{padding-left: 20px}

    .mobile-search input[type="text"]:focus{width:135px;}

    .cmpy-right{float: left;}
    .copy-right-box{height:37px}

    #sform input, 
    #sform textarea{
    	width: calc(100% - 105px);
    	width: -moz-(100% - 105px);
    	width: -webkit-(100% - 105px);
    	width: -o-(100% - 105px);
    	width: -ms-(100% - 105px);
    }

}

@media (max-width: 600px) {

	  .page-title-text h2{border-bottom: none;}

    .copy-right-box{padding-left: 40px;}

    .contact-us-nav ul{left: 25px;}

    .nav-icon-main,
    .menu-cross {right: 3%;top: 2%;}

    .breadcrumbs {margin-top: 0;}

    .product-list-li-wpr {margin-top: 50px;padding-right: 15px;}

    .area{width: 100%;}

    .upper-btn{
        width: 300px !important;
        height: 70px;
        line-height: 70px;
    }

    .product-row .area{width: 100%;height: 50%;}

    .product-wrp-area{width: 100% !important;}

    .service-focuse-home-page-wrapper .upper-btn{width: 330px;}

    .upper-btn{font-size: 33px;}

    /*Scrolling Fixing*/

    /*Gallery*/
    .g-thumbnail{height: 115px}

    .gview-list-li-wpr{width: 99%;margin-left:20px;}

    .gview-list-li-wpr h4{display: none;}

    .gview-list-li-wpr .ps-scrollbar-y-rail{
        margin-right: 0 !important;
        margin-top: 110px;
        right: 5% !important;
    }
    .list-close{margin-top: 15px;left: 15px;}

    .breadcrumbs{padding-left: 5px;margin-top: -10px}
    /*End gallery*/


    .page-title-border-btm,
    .product-list-li-wpr{width: 100%}

    .bottom-menu-mobile {display: block;text-align: center;}

    .copy-right-text div {padding-left: 0;}

    .page-title-text h2 {font-size: 19px;}
    /** Carousel **/

    #myCarousel,#myCarousel2 {width: 90%;top: 47%;}

    .carousel-caption i {font-size: 16px;}

    .copy-right-box {height: auto;position: relative}

    .cmpy-right {margin-left: 0;float: left;}
    .share-area{
      border: none;
      width: 90px !important;
      margin:0 auto;
    }

    .menu-list ul{margin-bottom: 25px}
    
    .share-area li:first-child{display: none;}
    .menu-list h4{min-height:auto;height:auto;width: 100%}
    .menu-list h4 a{font-size: 12px;}
    .menu-list li{margin-bottom: 10px;}
    .menu-item-view-area-wrp .menu-list{width: 100%}

    .border-bottom{margin-bottom: 15px;}

    .mobile-social{width: 110px}
    .mobile-social li{padding-right:5px;padding-left: 5px;}

    .mobile-search-sm input[type="text"]{width: 110px;padding-right: 5px}
    .bottom-menu-mobile{padding: 0 0 10px}

    .bottom-menu-mobile{text-align: left;}
    .bottom-menu-mobile .mobile-search{margin:0}
    .mobile-social{display: inline-block;margin-left: 0px}
    .mobile-search{display: none;}
    .mobile-search-sm{display:block; margin:15px 0 0 2%}
    .copy-right-text{margin-left: 2%;font-size: 10px}

    section .area{height: 50%}
    #leaders .area,
    #about-us .area,
    #testimonial .area,
    #contact-us .area{height: 100%}

    .page-title-text h2{display: none;}

    #alliances span{display: block;}

    #category-home-page .upper-btn,
    #service-focuse .upper-btn,
    #alliances .upper-btn,
    #sector .upper-btn{
    	top: calc(50% - 35px);
    	top: -o-calc(50% - 35px);
    	top: -ms-calc(50% - 35px);
    }

    #about-us .upper-btn,
    #testimonial .upper-btn,
    #contact-us .upper-btn{top: 31%}

    #about-us .area,
    #testimonial .area,
    #contact-us .area{height: 100%}

    .product-view-result-ul,
    .detalis-text-wpr{padding-left: 0}

    #enquiry{margin-bottom: 0}

    .logo img {width: 150px}

    .menu-bottom{display: none;}


    .product-banner,
    .detail-banner,
    .area-gview-1{width:30%;} 

    .product-view-area{width: 70%;padding-top: 0;}

    .logo img {width: 115px !important}
}




@media (max-width: 480px) {
    .upper-btn {font-size: 44px;}

    .menu-item-view-area {width: 58%;}

    .spritesprite-close-red,
    .fafa-bars {width: 35px}

    .upper-btn {
        width: 315px;
        font-weight: 400;
        font-size: 26px !important;
        height: 55px !important;
        line-height: 55px !important;
        top: calc(50% - 27.5px);
        top: -o-calc(50% - 27.5px);
        top: -ms-calc(50% - 27.5px);
    }

    #category-home-page .upper-btn,
    #service-focuse .upper-btn,
    #alliances .upper-btn,
    #sector .upper-btn{
    	top: calc(50% - 27.5px);
        top: -o-calc(50% - 27.5px);
        top: -ms-calc(50% - 27.5px);
    }

    #leaders .upper-btn,
    #about-us .upper-btn,
    #testimonial .upper-btn,
    #contact-us .upper-btn{
    	top:30%;
    }
    /****Main menu responsive fixing****/

    .menu-list h4 {height: auto}

    .menu-list h4 a {font-size: 12px}

    .menu-list h4{margin: 0 0 10px 8%;}

    .menu-list ul{margin-left: 0;}

    .menu-list-active,
    .menu-list a:hover {font-size: 12px}

    .menu-list li {
        margin-top: 10px;
        margin-bottom: 0;
        padding-left: 5%;
        background-position: center;
    }

    .menu-li-active, .menu-list li:hover {
        background-size: 6px;
        background-position:0 5px;
    }

    .menu-list a:hover,
    .menu-list a {font-size: 12px;}

    .border-bottom {margin: 0;}

    .sub-menu-btn {margin-top:0}

    .sub-menu-btn li{padding: 0;margin: 0;}

    .bottom-menu-mobile .mobile-search {
        width: 185px;
    }/*End Of Mobile fixing*/

    /*Slider Text*/
    .slick-text{
      font-size: 22px;
      margin-left: 30px;
      max-width: 350px;
      text-align: center;
    }

    .left-side-area{display:none;}

    .news-page-wrapper{width: 100%}

    .spritesprite-close-red,
    .fafa-bars{
      width: 30px !important;
      height: 30px !important;
    }

    .cmpy-right{font-size: 9px;line-height: 9px}

    .menu-list h4 {margin: 0 0 10px 5%}

}

@media (max-width: 380px){
    .slick-text{font-size: 18px}

    .contact-us-nav li{padding: 0px 10px 17px}

    .about-us-home-page-wrapper .page-title-text-contact h2{font-size: 23px}
}

