<div class="row">
    <div class="upper-btn">
        alliances
    </div>
    <a href="#">
        <div class="col-xs-6 area" style="background-image: url(resources/img/allience-clients.jpg)">
            <div class="page-title-text">
                <h2>TO ALL RESPECTED</h2>
                <span>CLIENTS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="#">
        <div class="col-xs-6 area" style="background-image: url(resources/img/allience-vendors.jpg)">
            <div class="page-title-text">
                <h2>A FRIEND IN NEED</h2>
                <span>VENDORS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>