<div class="row">
    <div class="upper-btn">
        alliances
    </div>
    <a href="alliances/clients">
        <!-- <div class="col-xs-6 area" style="background-image: url(resources/img/allience-clients.jpg)"> -->
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451476973clients.jpg)">
            <div class="page-title-text">
                <h2>TO ALL RESPECTED</h2>
                <span>CLIENTS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="alliances/partners">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451479839partners.jpg)">
            <div class="page-title-text">
                <h2>A FRIEND IN NEED</h2>
                <span>PARTNERS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>