<div class="row">
    <div class="upper-btn">
        CONTACT US
    </div>

    <div class="col-xs-12 area" style="background-image: url(resources/img/location.jpg)">
        <div class="row">
            <div class="container-fluid contact-us-nav">
                <div class="container">
                    <div class="row">
                        <ul class="nav nav-tabs contact-left-ul">
                            <li class="active"><a data-toggle="tab" href="#menua">GENERAL</a></li>
                            <li><a data-toggle="tab" href="#menu1">business development</a></li>
                            <li><a data-toggle="tab" href="#menu2">SALES</a></li>
                            <li><a data-toggle="tab" href="#menu3">TECHNICAL</a></li>
                        </ul>
                        <!--<div class="pull-right form-btn-c">-->
                        <ul class="contact-right-ul nav-tabs">
                            <li>
                                <a href="#map1" data-toggle="tab">MAP</a>
                            </li>
                            <li>
                                <a href="#sform" data-toggle="tab">ENQUIRY</a>
                            </li>
                        </ul>
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="contact-view">
                <div class="container cont-view-wpr">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="tab-content">
                                    <div id="menua" class="tab-pane fade in active">
                                        <div class="info-box">
                                            <h5>CORPORATE ADDRESS</h5>
                                            <p>Hosna Centre (5th Floor)</p>
                                            <p>106 Gulshan Avenue</p>
                                            <p>Dhaka - 1212</p>
                                            <br/>
                                            <p>Tel: +880 2 988 5319, +880 2 988 5004</p>
                                            <p>Fax: +880 2 986 3381</p>
                                            <p>Web: www.base-technologies.net</p>
                                            <p> info@base-technologies.net</p>
                                        </div><!--.info-box-->

                                    </div>
                                    <div id="menu1" class="tab-pane fade">
                                        <div class="info-box">
                                            <h5>Menu 1</h5>
                                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div><!--.info-box-single-->
                                    </div>
                                    <div id="menu2" class="tab-pane fade">
                                        <div class="info-box">
                                            <h5>Menu 2</h5>
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                        </div><!--.info-box-single-->
                                    </div>
                                    <div id="menu3" class="tab-pane fade">
                                        <div class="info-box">
                                            <h5>Menu 3</h5>
                                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                        </div><!--.info-box-single-->
                                    </div>

                                    <div class="info-box">
                                        <h5>SITEMAP</h5>
                                        <p><a href="#">Home</a></p>
                                        <p><a href="#">Solutions</a></p>
                                        <p><a href="#">Sector</a></p>
                                        <p><a href="#">About us</a></p>
                                        <p><a href="#">Alliences</a></p>
                                        <p><a href="#">Gallery</a></p>
                                        <p><a href="#">Press</a></p>
                                        <p><a href="#">Contact ua</a></p>
                                    </div>

                                    <div class="copy-right-box">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-google"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                        </ul>

                                        <span class="cmpy-right">
                                            All right reserved company 2015 | design& developed by <a href="http://www.dcastalia.com/">dcastalia</a>
                                        </span>
                                    </div><!--.copy-right-box-->

                                </div>

                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="tab-content">
                                    <div id="map1" class="tab-pane fade in active form-area-c">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d116827.62067760683!2d90.34691262851123!3d23.787887199495067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3755c7a1f4c2f39d%3A0xeaa561f8fc23b1fa!2sbase+technology!3m2!1d23.787903!2d90.41695299999999!5e0!3m2!1sen!2s!4v1449637872319" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    </div>
                                    <div id="sform" class="tab-pane fade">
                                        <h3>Contact us</h3>
                                        <form id="#" method="post" action="#">
                                            <p>
                                                <label for="name">Name</label>
                                                <input id="name" type="text" name=""/>
                                            </p>

                                            <p>
                                                <label for="email">Email</label>
                                                <input id="email" type="text" name=""/>
                                            </p>
                                            <p>
                                                <label for="#">Text Area</label>
                                                <textarea id="#" name=""></textarea>
                                            </p>
                                            <input type="submit" value="SUBMIT"/>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!--.contact-view-->
        </div>
    </div>
</div>