<div class="col-xs-6 area wow fadeInUp" style="background-image: url({{detPage.page_banner}});">
    <div class="page-title-text">
        <h2>{{detTitle}}</h2>
        <span>{{subTitle}}</span>
    </div><!--.page-title-text-->
</div>

<div class="col-xs-6 area product-view-area wow fadeInUp" style="">
    <a href="#">
        <div class="list-close"><i class="sprite sprite-close-green"></i></div>
    </a>
    <ul class="breadcrumbs">
        <li>HOME</li>
        <li>{{company}}</li>
        <li>{{subTitle}}</li>
        <li>{{detTitle}}</li>
    </ul>

    <div id="product-list-li-wpr" class="product-list-li-wpr">
        <div class="detalis-text-wpr">
            {{detPage.page_data.page_desc}}
        </div><!--.detalis-text-wpr-->

    </div>
</div>