<div class="col-xs-6 area detail-banner" style="background-image: url({{detPage.page_banner}});">
    <div class="page-title-text">
        <h2>{{detTitle}}</h2>
        <span>{{subTitle}}</span>
    </div><!--.page-title-text-->
</div>

<div class="col-xs-6 area product-view-area" style="">
    <a ng-click="homepage()">
        <div class="list-close"><i class="sprite sprite-close-green"></i></div>
    </a>
    <ul class="breadcrumbs">
        <li data-ng-show="company"><a ng-click="homepage()">HOME</a></li>
        <li>{{company}}</li>
        <li><a data-ng-href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}">{{subTitle}}</a></li>
        <li><a data-ng-href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}/{{detPage.page_data.page_slug}}">{{detTitle}}</a></li>
    </ul>

    <div id="product-list-li-wpr" class="product-list-li-wpr" data-ng-scroll="">
        <div class="detalis-text-wpr" bind-unsafe-html="detPage.page_data.page_desc">
        </div><!--.detalis-text-wpr-->

    </div>
</div>