<div class="row">
    <div class="upper-btn">
        SERVICE FOCUS
    </div>
    <a href="#">
        <div class="col-xs-6 area" style="background-image: url(resources/img/focus--industry.jpg)">
            <div class="page-title-text">
                <h2>INDUSTRY</h2>
                <span>FOCUS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="#">
        <div class="col-xs-6 area" style="background-image: url(resources/img/focus--corporate.jpg)">
            <div class="page-title-text">
                <h2>CORPORATE</h2>
                <span>FOCUS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>