<div class="row">
    <div class="upper-btn">
        Our Focus
    </div>
    <a href="industries/base_industries">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/14515551991451477988Industries.jpg)">
            <div class="page-title-text">
                <h2>INDUSTRY</h2>
                <span>FOCUS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="capabilities/our_capabilities">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451293508Capabilities.jpg)">
            <div class="page-title-text">
                <h2>CAPABILITIES</h2>
                <span>FOCUS</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>