<div class="row product-list-row">
    <div class="col-xs-6 area-gview-1" style="background-image: url({{detPage.page_banner}})">
        <div class="page-title-text">
            <h2>{{detTitle}}</h2>
            <div class="page-title-btn">
                <a href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}/{{prvProject}}"><i class="fa fa-angle-left"></i></a>
                <a href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}/{{nxtProject}}"><i class="fa fa-angle-right"></i></a>
            </div>
        </div>

        <div class="share-area">
            <ul>
                <li>share</li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}/{{detPage.page_data.page_slug}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/home?status={{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}/{{detPage.page_data.page_slug}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/share?url={{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}/{{detPage.page_data.page_slug}}" target="_blank"><i class="fa fa-google"></i></a></li>
            </ul>
        </div><!--.share-area-->
    </div>

    <div class="col-xs-6 area-gview-2 product-view-area">
        <a data-ng-href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}">
            <div class="list-close"><i class="sprite sprite-close-green"></i></div>
        </a>
        <ul class="breadcrumbs">
            <li data-ng-show="company"><a ng-click="homepage()">HOME</a></li>
            <li data-ng-if="cur.child_pages.menu.length>1">{{company}}</li>
            <li><a data-ng-href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}">{{subTitle}}</a></li>
            <li><a data-ng-href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}/{{detPage.page_data.page_slug}}">{{detTitle}}</a></li>
        </ul>

        <div id="product-list-li-wpr" class="gview-list-li-wpr" data-ng-scroll="">

            <h4>{{detPage.page_data.short_desc}}</h4>
            <div class="image-gallery">
                <div lightgallery class="g-thumbnail col-xs-4" data-ng-repeat="item in data=(detPage.page_images)" data-src="{{item.image}}" data-sub-html="<h4>{{item.short_title}}</h4><p>{{item.short_desc}}</p>" ng-show="limit<=$index && $index<limit+6">
                    <div class="gallery-image" style="background-image:url({{item.image}})"></div>
                </div><!--.g-thumbnail-->
            </div>

        </div><!--.product-list-li-wpr-->

        <div class="gallery-btn page-title-btn">
            <a ng-click="prvPage(6)" ng-hide="limit==0"><i class="fa fa-angle-left"></i></a>
            <a ng-click="nxtPage(6, data.length)" ng-hide="limit+6>=data.length"><i class="fa fa-angle-right"></i></a>
        </div><!--.gallery-btn-->
    </div><!--.product-view-area-->
</div>