<div class="col-xs-6 product-banner area" style="background-image: url({{page.page_banner}});">
    <div class="page-title-text">
        <h2>{{subTitle}}</h2>
        <span>{{company}}</span>
    </div><!--.page-title-text-->
</div>

<div class="col-xs-6 area product-view-area" style="">
    <a ng-click="homepage()">
        <div class="list-close"><i class="sprite sprite-close-green"></i></div>
    </a>
    <ul class="breadcrumbs">
        <li data-ng-show="company"><a ng-click="homepage()">HOME</a></li>
        <li>{{company}}</li>
        <li><a data-ng-href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}">{{subTitle}}</a></li>
    </ul>

    <div id="product-list-li-wpr" class="product-list-li-wpr" data-ng-scroll>
        <ul class="product-view-result-ul">
            <li data-ng-repeat="(key, subpage) in page.child_pages" data-ng-hide="key=='menu'">
                <div class="product-img-box">
                    <img src="{{subpage.page_banner}}" alt=""/>
                </div><!--.product-img-box-->
                <div class="list-result-text">
                    <a href="{{subpage.page_data.ext_url}}" target="_blank">
                        <h3>{{subpage.page_data.page_title}}</h3>
                    </a>
                    <p>{{subpage.page_data.short_desc|substring:100}}</p>
                </div>
                 <a href="{{subpage.page_data.ext_url}}" target="_blank">
                    <div class="list-plus-btn">
                        <span>+</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>