<div class="col-xs-6 product-banner area list-banner" style="background-image: url({{page.page_banner}});">
    <div class="page-title-text">
        <h2>{{subTitle}}</h2>
        <span>{{company}}</span>
    </div><!--.page-title-text-->
</div>

<div class="col-xs-6 area product-view-area" style="">
    <a ng-click="homepage()">
        <div class="list-close"><i class="sprite sprite-close-green"></i></div>
    </a>
    <ul class="breadcrumbs">
        <li data-ng-show="company"><a ng-click="homepage()">HOME</a></li>
        <li data-ng-if="cur.child_pages.menu.length>1">{{company}}</li>
        <li><a data-ng-href="{{homeURL}}{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}">{{subTitle}}</a></li>
    </ul>

    <div id="product-list-li-wpr" class="product-list-li-wpr" data-ng-scroll>
        <ul class="product-view-result-ul">
            <li data-ng-repeat="(key, subpage) in page.child_pages|orderObjectBy:'sort_order':false" data-ng-hide="key=='menu'">
                <a ng-if="subpage.page_data.ext_url.length<1" href="{{cur.page_data.page_slug}}/{{page.page_data.page_slug}}/{{subpage.page_data.page_slug}}">
                    <div class="product-img-box" ng-if="subpage.page_thumb.length>1" ng-class="{'vidicon':subpage.show_video_icon}">
                        <img src="{{subpage.page_thumb}}" alt=""/>
                    </div><!--.product-img-box-->
                    <div class="list-result-text">
                            <h3>{{subpage.page_data.page_title}}</h3>
                        <p>{{subpage.page_data.short_desc|substring:100}}</p>
                    </div>
                    <div class="list-plus-btn">
                        <span>+</span>
                    </div>
                </a>
                <a ng-if="subpage.page_data.ext_url.length>1" href="{{subpage.page_data.ext_url}}">
                    <div class="product-img-box" ng-if="subpage.page_thumb.length>1" ng-class="{'vidicon':subpage.show_video_icon}">
                        <img src="{{subpage.page_thumb}}" alt=""/>
                    </div><!--.product-img-box-->
                    <div class="list-result-text">
                            <h3>{{subpage.page_data.page_title}}</h3>
                        <p>{{subpage.page_data.short_desc|substring:100}}</p>
                    </div>
                    <div class="list-plus-btn">
                        <span>+</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>