<div class="main-menu-content" ng-controller="menuController">
    <div class="menu-cross toggol-menu">
        <a href="#"><i class="sprite sprite-close-red"></i></a>
    </div><!--.menu-cross-->

    <div class="menu-column first-column">
        <ul class="nav-pills">
            <li data-ng-repeat="item in pages" data-ng-class="{'active':($index==0)}">
                <a data-toggle="pill" href="#Menu-{{$index+1}}">{{item.page_data.page_title}}</a>
            </li>
        </ul>
    </div>
    <div class="menu-item-view-area tab-content">
        <div id="Menu-{{$index+1}}" class="menu-item-view-area-wrp tab-pane fade in active" data-ng-repeat="item in pages">
            <div class="menu-column menu-list" data-ng-repeat="(key, subpage) in item.child_pages" data-ng-hide="key=='menu'">
                <h4>{{subpage.page_data.page_title}}</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul>
                    <li data-ng-repeat="link in subpage.child_pages"><a href="{{item.page_data.page_slug}}/{{subpage.page_data.page_slug}}/{{link.page_data.page_slug}}">{{link.page_data.page_title}}</a></li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->
    </div><!--.menu-item-view-area-->
</div><!--.main-menu-content-->
<div class="menu-bottom">
    <div class="container">
        <div class="row">
            <div class="copy-right-text col-xs-4">
                <div class="row">
                    All rights reserved Base Tchnologies &copy;2015<br>
                    Design &amp; developed by <a href="http://www.dcastalia.com">dcastalia</a>
                </div>
            </div><!--.copy-right-text-->

            <div class="col-xs-4">
                <div class="row">
                    <ul class="mobile-social">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="row">
                    <div class="mobile-search pull-right">
                        <form method="post" action="#">
                            <input type="image" value="" class="sprite sprite-search-menu"/>
                            <input type="text" placeholder="SEARCH" value="" src="resources/images/search-menu.png" name="s"/>
                        </form>

                    </div><!--.mobile-search-->
                </div>
            </div>
        </div>
    </div>
</div>