<div class="main-menu-content">
    <div class="menu-cross toggol-menu">
        <a href="#"><i class="sprite sprite-close-red"></i></a>
    </div><!--.menu-cross-->

    <div class="menu-column first-column">
        <ul class="nav-pills">
            <li class="active"><a data-toggle="pill" href="#m-1">SOLUTIONS</a></li>
            <li><a data-toggle="pill" href="#m-2">INDUSTRIES</a></li>
            <li><a data-toggle="pill" href="#m-3">CAPABLITIES</a></li>
            <li><a data-toggle="pill" href="#m-4">PROJECTS</a></li>
            <li><a data-toggle="pill" href="#m-5">NEWSROOM</a></li>
            <li><a data-toggle="pill" href="#m-6">ABOUT US</a></li>
            <li><a data-toggle="pill" href="#m-7">CONTACT US</a></li>
        </ul>
    </div>
    <div class="menu-item-view-area tab-content">
        <div id="m-1" class="menu-item-view-area-wrp tab-pane fade in active">
            <div class="menu-column menu-list">
                <h4>TELECOM &amp; IT SOLUTIONS</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>POWER & I NFRASTRUCTURE</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>BUSINESS PROCESS OUTSOURCING</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->
        <div id="m-2" class="menu-item-view-area-wrp tab-pane fade">
            <div class="menu-column menu-list">
                <h4>TELECOM &amp; IT SOLUTIONS</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay="0">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>POWER & I NFRASTRUCTURE</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".2s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>BUSINESS PROCESS OUTSOURCING</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".3s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->
        <div id="m-3" class="menu-item-view-area-wrp tab-pane fade">
            <div class="menu-column menu-list">
                <h4>TELECOM &amp; IT SOLUTIONS</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay="0">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>POWER & I NFRASTRUCTURE</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".2s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>BUSINESS PROCESS OUTSOURCING</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".3s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->
        <div id="m-4" class="menu-item-view-area-wrp tab-pane fade">
            <div class="menu-column menu-list">
                <h4>TELECOM &amp; IT SOLUTIONS</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay="0">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>POWER & I NFRASTRUCTURE</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".2s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>BUSINESS PROCESS OUTSOURCING</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".3s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->
        <div id="m-5" class="menu-item-view-area-wrp tab-pane fade">
            <div class="menu-column menu-list">
                <h4>TELECOM &amp; IT SOLUTIONS</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay="0">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>POWER & I NFRASTRUCTURE</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".2s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>BUSINESS PROCESS OUTSOURCING</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".3s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->
        <div id="m-6" class="menu-item-view-area-wrp tab-pane fade">
            <div class="menu-column menu-list">
                <h4>TELECOM &amp; IT SOLUTIONS</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay="0">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>POWER & I NFRASTRUCTURE</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".2s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>BUSINESS PROCESS OUTSOURCING</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".3s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->
        <div id="m-7" class="menu-item-view-area-wrp tab-pane fade">
            <div class="menu-column menu-list">
                <h4>TELECOM &amp; IT SOLUTIONS</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay="0">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>POWER & I NFRASTRUCTURE</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".2s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
            <div class="menu-column menu-list">
                <h4>BUSINESS PROCESS OUTSOURCING</h4>
                <div class="border-bottom">&nbsp;</div>
                <ul class="wow fadeInUp" data-wow-delay=".3s">
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 2</a></li>
                </ul>
            </div>
        </div><!--.menu-item-view-area-wrp-->

    </div><!--.menu-item-view-area-->
</div><!--.main-menu-content-->
<div class="menu-bottom">
    <div class="container">
        <div class="row">
            <div class="copy-right-text col-xs-4">
                <div class="row">
                    Allright reserved Base Tchnologies@ 2015<br>
                    Design &amp; developed by <a href="http://www.dcastalia.com">dcastalia</a>
                </div>
            </div><!--.copy-right-text-->

            <div class="col-xs-4">
                <div class="row">
                    <ul class="mobile-social">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="row">
                    <div class="mobile-search pull-right">
                        <form method="post" action="#">
                            <input type="image" value="" class="sprite sprite-search-menu"/>
                            <input type="text" placeholder="SEARCH" value="" src="resources/images/search-menu.png" name="s"/>
                        </form>

                    </div><!--.mobile-search-->
                </div>
            </div>
        </div>
    </div>
        </div>