<div class="row">
    <div class="upper-btn">
        SECTOR
    </div>
    <a href="#">
        <div class="col-xs-4 area" style="background-image: url(resources/img/sector-public.jpg)">
            <div class="page-title-text">
                <h2>public</h2>
                <span>sector</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="#">
        <div class="col-xs-4 area" style="background-image: url(resources/img/sector-managed-service.jpg)">
            <div class="page-title-text">
                <h2>managed services</h2>
                <span>sector</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="#">
        <div class="col-xs-4 area" style="background-image: url(resources/img/photo-64783237.jpg)">
            <div class="page-title-text">
                <h2>business solutions & services</h2>
                <span>sector</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>