<div class="row">
    <div class="upper-btn">
        MEDIA
    </div>
    <a href="media/events-gallery">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451302321Events-Gallery.jpg)">
            <div class="page-title-text">
                <h2>Events Gallery</h2>
                <span>media</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="media/news-room">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451302350Newsroom.jpg)">
            <div class="page-title-text">
                <h2>News Room</h2>
                <span>media</span>
            </div><!--.page-title-text-->
        </div>
    </a>
</div>