<div class="row">
    <slick class="home-slick" dots="true" infinite="true" speed="500" autoplay="true" autoplaySpeed="500" arrows="false" pauseOnHover="true" delay="300">
         
        <div class="home-slider">
            <!-- <img src="resources/img/banner/00.jpg" class="img-responsive"/> -->
            <span class="silder-img" style="background-image:url(resources/img/banner/00.jpg)"></span>
        </div>    
        <div class="home-slider">
            <!-- <img src="resources/img/banner/01.jpg"/> -->
            <span class="silder-img" style="background:url(resources/img/banner/01.jpg)"></span>
            <div class="slick-text container">
                <span class="slide">Winning with Clients</span>
            </div>
        </div>
        <div class="home-slider">
            <!-- <img src="resources/img/banner/02.jpg"/> -->
            <span class="silder-img" style="background:url(resources/img/banner/02.jpg)"></span>
            <div class="slick-text container">
                <span class="slide">One Team, Due Respect</span>
            </div>
        </div>
        <div class="home-slider">
            <!-- <img src="resources/img/banner/03.jpg"/> -->
            <span class="silder-img" style="background:url(resources/img/banner/03.jpg)"></span>
            <div class="slick-text container">
                <span class="slide">Committed to Deliver</span>
            </div>
        </div>
        <div class="home-slider">
            <!-- <img src="resources/img/banner/04.jpg"/> -->
            <span class="silder-img" style="background:url(resources/img/banner/04.jpg)"></span>
            <div class="slick-text container">
                <span class="slide">Unparalleled Integrity</span>
            </div>
        </div>
    </slick>
</div>