<div class="row">
    <slick dots="false" infinite="true" speed="500" autoplay="true" autoplaySpeed="500" arrows="false" pauseOnHover="true" delay="300">
        <div class="home-slider">
            <img src="resources/img/1.jpg"/>
            <div class="wow fadeInUp slick-text container">
                <span class="col-sm-12 slide"></span>
            </div>
        </div>
        <div class="home-slider">
            <img src="resources/img/2.jpg"/>
            <div class="wow fadeInUp slick-text container">
                <span class="col-sm-12 slide"></span>
            </div>
        </div>
        <div class="home-slider">
            <img src="resources/img/3.jpg"/>
            <div class="wow fadeInUp slick-text container">
                <span class="col-sm-12 slide"></span>
            </div>
        </div>
    </slick>
</div>