<div class="row">
    <div class="upper-btn">
        SOLUTIONS
    </div>
    <a href="solutions/power-and-infrastructure">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451294966Power-&-Infrastructure.jpg)">
            <div class="page-title-text">
                <h2>power &amp; infrastructure</h2>
                <span>solution</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    <a href="solutions/it-and-telecom">
        <div class="col-xs-6 area" style="background-image: url(http://dcastalia.com/projects/web/base/cms/administrator/uploads/1451294404It-&-Telecom.jpg)">
            <div class="page-title-text">
                <h2>IT &amp; TELECOM</h2>
                <span>solution</span>
            </div><!--.page-title-text-->
        </div>
    </a>
    </div>