<div class="row height-full" ng-controller="testimonialController">
    <div class="upper-btn">
        TESTIMONIAL
    </div>
    <div class="col-xs-12 area" style="background-image: url(resources/img/TESTIMONIAL.jpg)">

        <!--------------------------------
        --------BootStrap Carousel--------
        --------------------------------->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item" ng-class="{'active':$index==0}" ng-repeat="(key,p) in data|orderObjectBy:'sort_order':false">

                    <div class="carousel-circle">
                        <img src="{{p.page_banner}}" alt="" class="img-responsive"> 
                    </div><!-- .carousel-circle -->

                    <div class="carousel-caption">
                        <i class="fa fa-quote-left"></i>
                        <p ng-bind-html="p.page_data.page_desc"></p>
                        <i class="fa fa-quote-right"></i>
                    </div>
                </div>

            </div><!-- .carousel-inner -->

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{'active':$index==0}" ng-repeat="(key,p) in data"></li>
            </ol>


        </div><!-- #myCarousel -->
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.carousel').carousel({
            interval: 10000,
            cycle: true
        });
    });
</script>